# Vagrant
vagrant/.vagrant/
vagrant/Vagrantfile

# Ansible
ansible/inventory

# Logs
logs
*.log

# environment files
.env
.env.test
*-development.env
*-production.env

# Docker
dockerfiles/docker-compose.yml
dockerfiles/nginx1-development.env
dockerfiles/nginx1-production.env
dockerfiles/nginx2-development.env
dockerfiles/nginx2-production.env

# Documents for private use
self_docs/

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Visual Studio Code
.vscode/