# Visual Studio Code
.vscode/

# Github
.github/

# Ansible
ansible/inventory
ansible/tasks/dockerrebuild.yml
ansible/test*.yml

# Fail2ban
dockerfiles/fail2ban/Dockerfile
dockerfiles/fail2ban/jail.local

# Gatsby
dockerfiles/gatsby/.cache/
dockerfiles/gatsby/node_modules/*
dockerfiles/gatsby/public/*
dockerfiles/gatsby/static/
# dockerfiles/gatsby/Dockerfile
dockerfiles/gatsby/gatsby-config.ts
dockerfiles/gatsby/gatsby-config.js
dockerfiles/gatsby/gatsby-node.js
dockerfiles/gatsby/gatsby-ssr.js


# Traefik
dockerfiles/traefik/storage/
!dockerfiles/traefik/storage/.gitignore
dockerfiles/traefik/Dockerfile
dockerfiles/traefik/dynamic.yml
dockerfiles/traefik/traefik.yml
**_api_key.txt
**users.txt

# Docker Compose
dockerfiles/compose.yml

# Documents for private use
self_docs/

# Docker
**/docker-compose.yml
**/compose.yml

# Dependency directories
**/node_modules/
jspm_packages/

# Environment files
**/.env
**/*.env

# TypeScript cache
*.tsbuildinfo

# TypeScript v1 declaration files
typings/

# Logs
logs
*.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

**/*.old
