# Ansible
ansible/inventory

# Dependency directories
node_modules/
jspm_packages/

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Docker
**/docker-compose.yml

# Documents for private use
self_docs/

# Environment files
**/.env
**/*.env

# TypeScript cache
*.tsbuildinfo

# TypeScript v1 declaration files
typings/

# Traefik
dockerfiles/traefik/Dockerfile
dockerfiles/traefik/*traefik.yml
dockerfiles/traefik/*dynamic.yml
dockerfiles/traefik/*users.txt
dockerfiles/traefik/storage/.lego/
dockerfiles/traefik/storage/log/
dockerfiles/traefik/storage/acme.json
dockerfiles/traefik/storage/*_api_key.txt
dockerfiles/traefik/log/*
dockerfiles/app3

# Fail2ban
dockerfiles/fail2ban/fail2ban.env
dockerfiles/fail2ban/jail.local

# Vagrant
vagrant/.vagrant/
vagrant/Vagrantfile

# Visual Studio Code
.vscode/

# Logs
logs
*.log
